@list-left-padding: 15px;

// typeahead for members on list, signup, edit signup 
.member-list {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			padding: 0;
			margin: 0;
			a {
				display: block;
				line-height: 3rem;
				padding: 0 1.5rem
			}
		}
	}
}

// signup list - assignments
button.list-group-item.strikethrough {
	text-decoration: line-through;
}


// assignments, signup, edit-signup
body table.table.table-condensed > thead > tr > th {
	text-transform: capitalize
}
.room {
	font-weight: bold;
	text-transform: capitalize
}
.panel-heading {
	font-size: 1.75rem;
	font-weight: bold
}
section.day {
	margin-bottom: 5rem;
}