<ol class="breadcrumb">
  <li><a href="#/signups/">Signups</a></li>
  <li><a href="#/signups/{{ signup._id }}"><span data-ng-show="signup.name">{{ signup.name }}, </span> {{ signup.arrive | date:'EEEE, MMM d' }} - {{ signup.depart | date:'EEEE, MMM d' }}</a></li>
  <li>Edit Assignments</li>
</ol>

<div cookie></div>

<div data-ng-show="getCookie() == signup.chair._id">
  <div class="row">
    <div class="col-sm-3">
      <h2>
        Signup list
      </h2>

      <!-- 
      <pre>
        {{ selected | json }}
      </pre>
      -->

      <p>
        <strong>Step 1</strong>: Pick a person to assign 
      </p>
      <div class="list-group">
        <button type="button" class="list-group-item" data-ng-repeat="person in signup.list" data-ng-class="{ active: person._id == selected._id, 'strikethrough': assigned[person._id], 'list-group-item-info': !assigned[person._id] }" data-ng-click="select(person)">
          <span ng-show="person.status != 'guest'">
            {{ person.name }} {{ person.gender }} <span data-ng-show="person.status != 'active'">({{ person.status }})</span>
          </span>
          <span ng-show="person.status == 'guest'">
            {{ person.name }}, guest of {{ person.member.name }}
          </span>
          <span data-ng-show="person.note">
            {{ person.note }}
          </span>
        </button>
      </div>
    </div><!-- col -->

    <div class="col-sm-9">
      <h2>
        Bed assignments <button class="btn btn-xs" data-ng-class="{'btn-danger': !selected._id, 'disabled': selected._id}" data-ng-click="clearAssignments()">X Clear assignments</button>
      </h2>
      <p>
        <strong>Step 2</strong>: Assign that person to a bed 
        <!-- <button class="btn btn-xs" data-ng-class="{'disabled': assigned == {}, 'btn-danger': assigned != {}}">Clear assignments</button>-->
      </p>

      <section class="day" data-ng-repeat="(date, rooms) in signup.assignments">
        <h3>
          {{ date | date:'EEEE, MMM d' }}
        </h3>
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item" data-ng-class="{'list-group-item-success': max[room].max - beds.length == 0}" data-ng-repeat="(room, beds) in rooms">
              <div class="row">
                <div class="col-sm-2">
                  <span class="room">{{ room }}</span>
                  <span data-ng-show="max[room].max - beds.length > 0">
                    {{ max[room].max - beds.length}} left
                  </span>
                  <span data-ng-show="max[room].max - beds.length == 0">
                    (Full)
                  </span>
                </div>
                <div class="col-sm-2">
                      <div class="btn-group disabled" role="group">
                        <a class="btn btn-xs btn-default disabled" data-ng-class="{'btn-primary': beds.length < max[room].max && selected._id, 'disabled': beds.length >= max[room].max || !selected._id}" data-ng-click="applyToDuration({room:room})">
                          All days
                        </a>
                        <a class="btn btn-xs btn-default disabled" data-ng-class="{'btn-default': beds.length < max[room].max && selected._id, 'disabled': beds.length >= max[room].max || !selected._id}" data-ng-click="addToBed({date:date,room:room})">This day</a> 
                      </div>
                </div>
                <div class="col-sm-8 people">
                  <ol class="list-inline">
                    <li data-ng-show="beds.length === 0">-</li>
                    <li data-ng-repeat="person in beds">
                      <button class="btn btn-xs" data-ng-click="removeBedAssignment({date:date,room:room,index:$index})" data-ng-class="{'btn-danger': !selected._id, 'disabled': selected._id}" title="Click to delete">
                        x <span ng-show="person.status != 'guest'">
                          {{ person.name }}
                        </span>
                        <span ng-show="person.status == 'guest'">
                          {{ person.name }}, guest of {{ person.member.name }}
                        </span>
                      </button>
                    </li>
                  </ol>
                </div><!-- col-sm-8 -->
              </div><!-- row -->
            </li>
          </ul>
        </div><!-- panel -->
      </section><!-- day -->

      <div class="form-group">
        <p>
          Are these assignments ready to be published to the public sign up page?
        </p>
        <div class="btn-group">
          <label class="btn btn-default" ng-model="signup.published" uib-btn-radio="true" uncheckable>Published</label>
          <label class="btn btn-default" ng-model="signup.published" uib-btn-radio="false" uncheckable>Hidden</label>
        </div>
      </div>

      <form role="form" id="update-signup" data-ng-submit="updateSignup()">
        <input type="hidden" data-ng-model="signup" value="{{ signup }}" />
        <button class="btn btn-primary">Save</button>
      </form>

    </div><!-- col -->
  </div>


  </div>
</div>


<!--
<pre>
  {{ signup | json }}
</pre>
-->