<ol class="breadcrumb">
  <li><a href="#/signups/">Signups</a></li>
  <li><a href="#/signups/{{ signup._id }}"><span data-ng-show="signup.name">{{ signup.name }}, </span> {{ signup.arrive | date:'EEEE, MMM d' }} - {{ signup.depart | date:'EEEE, MMM d' }}</a></li>
  <li>Edit Signup List</li>
</ol>

<div cookie></div>

<div data-ng-show="getCookie() == signup.chair._id">
  <div class="row">
    <div class="col-sm-3">
      <h3>Add people</h3>
      <div class="well">
        <h4>Add members</h4>
        <div class="member-list" data-ng-controller="signup-list-member" members></div>
        <hr />
        <form data-ng-submit="startGuest()" data-ng-show="signup.list.length > 0">
          <h4>Add guests</h4>
          <input type="text" class="form-control" data-ng-model="guestStarter" placeholder="Type the guest's name..." />
        </form>
        <p class="bg-info" data-ng-show="signup.guest">
          Add {{ signup.guest.name }} to a member already on the list.
        </p>
      </div>

      <pre>
        {{ signup.cancelled | json }}
      </pre>
    </div>

    <div class="col-sm-9">
      <h3>
        Manage the list
      </h3>
          <p data-ng-show="signup.list.length == 0" class="bg-warning">
            The signup chair hasn't added anyone yet. 
          </p>
          <table class="table table-condensed" data-ng-show="signup.list && signup.list.length > 0">
            <thead>
              <tr>
                <th>
                  &nbsp;
                </th>
                <th>
                  Name
                </th>
                <th>
                  Actions
                </th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="person in signup.list track by $index">
                <td>
                  {{ $index + 1 }} 
                </td>
                <td>
                  <div ng-show="person.status != 'guest'">
                    <a href="#/list/{{ person.household_id }}">{{ person.name }}</a>
                    <span data-ng-show="person.status != 'active'">({{person.status}})</span>
                  </div>
                  <div ng-show="person.status == 'guest'">
                    {{ person.name }}, guest of <a href="#/list/{{ person.member.household_id }}">{{ person.member.name }}</a> ({{person.member.status}})
                  </div>
                </td>
                <td>
                  <input class="form-control input-sm" data-ng-model="person.note" type="text" placeholder="Add notes about this person..." />
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" data-ng-show="signup.guest" data-ng-click="addGuest(person)">Add</button>
                  <div class="btn-group" role="group">
                    <a class="btn btn-sm btn-default" data-ng-class="{'disabled': $index == 0}" data-ng-click="moveUp(person, $index)">
                      Move up
                    </a>
                    <a class="btn btn-sm btn-default" data-ng-class="{'disabled': signup.list.length - 1 == $index}"data-ng-click="moveDown(person, $index)">Move down</a> 
                  </div>
                  <button class="btn btn-sm btn-warning" data-ng-click="cancel(person)" title="Cancel this person">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <form role="form" id="update-signup" data-ng-submit="updateSignup()">
            <input type="hidden" data-ng-model="signup" value="{{ signup }}" />
            <button class="btn btn-primary">Save</button>
            <a href="#/signups/{{ signup._id }}" class="btn btn-link">Cancel and return to sign up</a>
          </form>
    </div>
  </div><!--conditional if the right signup chair -->
</div>


<!--
<pre>
  {{ signup | json }}
</pre>  
-->