<ol class="breadcrumb">
  <li><a href="#/signups/">Signups</a></li>
  <li><a href="#/signups/{{ signup._id }}"><span data-ng-show="signup.name">{{ signup.name }}, </span> {{ signup.arrive | date:'EEEE, MMM d' }} - {{ signup.depart | date:'EEEE, MMM d' }}</a></li>
  <li>Edit Signup List</li>
</ol>

<div cookie></div>

<div data-ng-show="getCookie() == signup.chair._id">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" data-ng-class="{'active': view == 'list'}">
      <a data-ng-click="toggleView('list')" role="tab" data-toggle="tab">
        Manage list ({{ signup.list.length }})
      </a>
    </li>
    <li role="presentation" data-ng-class="{'active': view == 'cancelled'}">
      <a data-ng-click="toggleView('cancelled')" role="tab" data-toggle="tab">
        View cancellations ({{ signup.cancelled.length }})
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" data-ng-class="{'active': view == 'list'}">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="member-list" data-ng-controller="signup-list-member" members></div>
        </div>
        <div class="panel-body" data-ng-show="signup.list.length == 0">
          <p>
            The signup chair hasn't added anyone yet. 
          </p>
        </div>
        <table class="table table-condensed" data-ng-show="signup.list && signup.list.length > 0">
          <thead>
            <tr>
              <th>
                &nbsp;
              </th>
              <th>
                Name
              </th>
              <th>
                Notes
              </th>
              <th>
                Actions
              </th>
              <th>
                Add guest
              </th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="person in signup.list track by $index">
              <td>
                {{ $index + 1 }} 
              </td>
              <td>
                <div ng-show="person.status != 'guest'">
                  <a href="#/list/{{ person.household_id }}">{{ person.name }}</a>
                  <span data-ng-show="person.status != 'active'">({{person.status}})</span>
                </div>
                <div ng-show="person.status == 'guest'">
                  {{ person.name }}, guest of <a href="#/list/{{ person.member.household_id }}">{{ person.member.name }}</a> ({{person.member.status}})
                </div>
              </td>
              <td>
                <input class="form-control input-sm" data-ng-model="person.note" type="text" placeholder="Add notes about this person..." />
              </td>
              <td>
                <div class="btn-group" role="group">
                  <a class="btn btn-sm btn-default" data-ng-class="{'disabled': $index == 0}" data-ng-click="moveUp(person, $index)">
                    Move up
                  </a>
                  <a class="btn btn-sm btn-default" data-ng-class="{'disabled': signup.list.length - 1 == $index}"data-ng-click="moveDown(person, $index)">Move down</a> 
                </div>
                <button class="btn btn-sm btn-warning" data-ng-click="cancel(person)" title="Cancel this person">
                  Remove
                </button>
              </td>
              <td>
                <form data-ng-submit="addGuest($index, person)" class="form-inline" data-ng-show="person.status != 'guest'">
                  <div class="form-group form-group-sm">
                    <label for="guest-{{ $index }}" class="sr-only">Name</label>
                    <input type="text" class="form-control" data-ng-model="guestStarter[$index]" id="guest-{{ $index }}" placeholder="The guest's name...">
                  </div>
                  <button type="submit" class="btn btn-default btn-sm">Add</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div><!-- list -->

    <div role="tabpanel" class="tab-pane" data-ng-class="{'active': view == 'cancelled'}">
      <table class="table table-condensed" data-ng-show="signup.list && signup.list.length > 0">
        <thead>
          <tr>
            <th>
              &nbsp;
            </th>
            <th>
              Name
            </th>
            <th>
              Notes
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="person in signup.cancelled track by $index">
            <td>
              {{ $index + 1 }} 
            </td>
            <td>
              <div ng-show="person.status != 'guest'">
                <a href="#/list/{{ person.household_id }}">{{ person.name }}</a>
                <span data-ng-show="person.status != 'active'">({{person.status}})</span>
              </div>
              <div ng-show="person.status == 'guest'">
                {{ person.name }}, guest of <a href="#/list/{{ person.member.household_id }}">{{ person.member.name }}</a> ({{person.member.status}})
              </div>
            </td>
            <td>
              <input class="form-control input-sm" data-ng-model="person.note" type="text" placeholder="Add notes about this person..." />
            </td>
            <td>
              <div data-ng-controller="memberCtrl">
                <button class="btn btn-sm btn-info" data-ng-click="assign(person)" title="Reinstate this person">
                  Reinstate
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <form role="form" id="update-signup" data-ng-submit="updateSignup()">
    <input type="hidden" data-ng-model="signup" value="{{ signup }}" />
    <button class="btn btn-primary">Save</button>
    <a href="#/signups/{{ signup._id }}" class="btn btn-link">Cancel and return to sign up</a>
  </form>

</div>

